
<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Tomiwa Secret Email Finder</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="Easily find any email address!"/>
        <meta property="og:site_name" content="Tomiwa Secret Email Finder"/>

        <meta name="og:description" content="Easily find any email address!"/>


        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

        <link rel="stylesheet" href="css/main.css">

    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        <div class="content" style="background: #f9f9f9;">
          <div class="section">
            <div class="container">
              <br>
              <br>
              <div class="header center">
                <div class="row center">
                  <h3 class="header col s12 orange-text">Nimrod Hunter</h3>
                  <h5 class="header col s12 light">Nimrod Hunter helps you connect with people that matter for your business</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="section">
            <div class="container form-container">

              <div class="row">
                <form id="email-form" class="col s12 l8 push-l2">

                  <div class="row">
                    <div class="input-field col s6">
                      <input placeholder="Tomiwa" id="first_name" name="first_name" type="text" class="validate" data-error="Please enter a first name">
                      <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                      <input placeholder="Adey" id="last_name" name="last_name" type="text" class="validate" data-error="Please enter a last name">
                      <label for="last_name">Last Name</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="scrappycabin.com" id="domain" name="domain" type="text" class="validate" data-error="Please enter a domain">
                      <label for="domain">Domain</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col s12">
                      <button class="btn waves-effect waves-light btn-large orange" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                      </button>
                    </div>
                  </div>

                  <div class="loading-cover">
                    <div class="sk-folding-cube">
                      <div class="sk-cube1 sk-cube"></div>
                      <div class="sk-cube2 sk-cube"></div>
                      <div class="sk-cube4 sk-cube"></div>
                      <div class="sk-cube3 sk-cube"></div>
                    </div>

                    <h4>Searching...</h4>
                  </div>
                </form>
              </div>
              <div class="container result-container">

                <div class="row center">
                  <h5 id="result" class="header col s12 light"></h5>
                </div>
              </div>
            </div>


          </div>

          <div class="section">
          </div>

        </div>

        <footer class="page-footer black" style="margin-top: 0px;">
          <div class="container" style="">
            <div class="row">
                <div class="col s12">
                  <br>
                  <br>
                  <h5 style="color: white;">Can't find the corporate email of a prospect? <a href="https://www.scrappycabin.com/subscriptions/new?plan_id=2">Get their Gmail with the Pro Version.</a></h5>
                  <br>
                </div>

              </div>
            <div class="row">
              <div class="col s6">
                <br>
                <br>
                <h5 style="color: white;">Bulk Emails</h5>
                <p style="color: white;">Do you have a list of prospects in a google sheet? Click the button below to use Nimrod to find the emails directly in your spreadsheet.</p>
                <a href="https://www.scrappycabin.com/blogs/the-nimrod-recipe" class="waves-effect waves-light btn orange">Get Started <i class="material-icons right">send</i></a>
                <br>
                <br>
              </div>
              <div class="col s6">
                <br>
                <br>
                <h5 style="color: white;">Help?</h5>
                <p style="color: white;">Feel free to send me an email at tomiwa@scrappycabin.com or on twitter @tomiwaAdey if you have any question. I'll get back to as soon as I can. </p>
                <a href="https://twitter.come/tomiwaAdey"class="waves-effect waves-light btn orange">Get in touch <i class="material-icons right">send</i></a>
                <br>
                <br>
              </div>

            </div>

          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 <a class="white-text text-lighten-3" target="_blank" href="http://www.scrappycabin.com">Scrappy Cabin</a>
            <a class="grey-text text-lighten-4 right" href="#">All Rights Reserved</a>
            </div>
          </div>
        </footer>


        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

        <script src="js/main.js"></script>
    </body>
</html>
